
html{

    background-color: #070d1b;
   /* background-image: linear-gradient(180deg, #070d1b 0%, #22224e 50%); */  
   overflow:hidden;
   background-size: cover;
   background-repeat: no-repeat;
   color: #587895;
}
body{
   background-color: #070d1b;
   background-image: linear-gradient(180deg, #070d1b 0%, #22224e 50%); 
}
.ptr{
    cursor: pointer;
}
.nv-font{
    /* font-family: 'Martel Sans', sans-serif; */
font-family: 'Quicksand', sans-serif;
}
.nav-bar {  
    min-width: 375px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: #6a758b;
}
.left-nav {
    display: flex;
    float: left;
}
.vc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.problem-card{
    width: 20%;
     margin: 1% auto;
    border-radius: 10px;
   padding: 10px;
   height: max-content;
        
   box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
display: block;
}
.problem-bar{

}
#difficulty,#selectTag{
    background-color: #070d1b;
    border:3px solid #edab30; 
    border-radius:100px;
    padding: 8px 40px;
    font-weight: 400;
    font-size: 16px; 
    color: #adc8d8;
    transition: 0.3s;
}
#difficulty{width: max-content;text-align: center;padding: 8px;}
#apply{
    margin-top: 4%;
    margin-bottom: 2%;
}

#difficulty:focus,#selectTag:focus{outline: none;}
#difficulty::placeholder{font-size: 16px; 
    color: #adc8d8;
    font-weight: 400;
}
#selectTag::-webkit-scrollbar{display: none;}
.problem-card div{
    margin-top: 2%;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family: 'Martel Sans', sans-serif;
}
.problem-name{
    font-weight: 800;
    font-size: 30px; 
    color: #edab30;
}
.problem-rating{
    font-weight: 800;
    font-size: 20px; 
    color: #adc8d8;
}
.problem-tags{
    font-weight: 400;
    font-size: 16px; 
    color: #adc8d8;
}
.psolve{
    border:3px solid #edab30; 
    border-radius:100px;
    padding: 8px 40px;
    font-weight: 400;
    font-size: 16px; 
    color: #edab30;
    background: none;
    font-weight: 800;
    transition: 0.3s;
    margin-top: 5%;
    margin-bottom: 5%;
}
.psolve:hover{
    background-color: #edab30;
    color:#070d1b;
    font-weight: 800;
}
.right-nav{
    display: flex;
    float: left;
    text-transform: uppercase;
    margin-left: 150px;
    transition: 0.3s;
}
#brand-logo {
    color: #ffd586bf;
    font-size: 30px;
    text-shadow: -2px 2px 3px rgba(237,171,48,0.52);
}
.brand-icon{
    height: 70px;
    margin-left: 70px;
}

.nav-item{
    height: 66px;
    text-align: center;
    margin-right: 50px;
}
.logout{
    width: 100px;
    border-radius: 20px;
    padding: 7px;
    /* box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44);
    -webkit-box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44);
    -moz-box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44); */
    color: #070d1b;
    background-color: #edab30;
}
.logout:hover{ 
    box-shadow: -1px 1px 8px 3px rgba(237,171,48,0.44);
    -webkit-box-shadow: -1px 1px 8px 3px rgba(237,171,48,0.44);
    -moz-box-shadow: -1px 1px 8px 3px rgba(237,171,48,0.44);
    transform: translate(-5px,5px);
    transition: transform 0.3s ease-in-out;
    
   
}
.nav-link{
    display: block;
}
.nav-link:hover{
   color: #ffd586bf;
}
.nav-active{
    color: #ffd586bf;
}
.small,.small2{

    display: none;
    position: absolute;
} 
#menuL,#menuR{
    display: none;
}
.menu{
    font-size: 35px;
    color: #d1d5e2;

}

.s6{
    display: none;
}
.block{
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    height: 70px;
    border-radius: 10px;
}
.block:hover{
    background-color: gray; 
    cursor: pointer;
    background-image: none;
}

.b1{
    margin-top: 20%;
}
.bg-p{}
.bg-s{}
.bg-f{}
.bg-br1{ }
.bg-gr1{}
.bg-gr{}
.content{
    display: flex;
    margin-bottom:1px;
    scroll-behavior: smooth;
    height: 90vh;
    flex-direction: row;
    position: fixed;
    top: 9vh;left: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 375px;
}
.left-bar{ width: 20%;
    min-height: 89vh;
    max-height: 89vh;
    overflow-y: scroll;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;font-size: 20px;
}
.left-bar::-webkit-scrollbar-track{}
.left-bar::-webkit-scrollbar-track:hover{}
.left-bar::-webkit-scrollbar{display: none;}
.left-bar::-webkit-scrollbar-thumb{}
.left-bar::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}
.left-bar::-webkit-scrollbar-button{
    display: none;
}
.content::-webkit-scrollbar-track{
    
}
.content::-webkit-scrollbar-track:hover{
    
}
.content::-webkit-scrollbar{display: none;}
.content::-webkit-scrollbar-thumb{
    
}
.content::-webkit-scrollbar-thumb:hover{cursor: pointer;}
.content::-webkit-scrollbar-button{display: none;}


.bg-br1{    }
.bg-gr1{}
.bg-gr{}
.header{
    width: 98%;
    margin-left: 1%;
    height: 100px;
}
.search{
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
.main-content{
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    margin-top: 10px;
}
.footer{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
.content-area{
    width: 100%;
    text-align: center; 
    overflow-y: scroll;
    border-radius: 10px;
    scroll-behavior: smooth;
    text-align: center;
}
@media only screen and (max-width: 1700px) {
    .block{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 65px;
        border-radius: 10px;
    }
    .right-nav{
        margin-left: 20px;
    }
    .brand-icon{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1550px) {
    .block{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 65px;
        border-radius: 10px;
    }
    .nav-item{
        margin-right: 40px;
    }
}
@media only screen and (max-width: 1500px) {
    .nav-item{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 1455px) {
     .block{
         width: 80%;
         margin-left: 10%;
         margin-top: 4%;
         height: 62px;
         border-radius: 10px;
        }
}
@media only screen and (max-width: 1420px) { 
    .block{width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 60px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 1300px) {
    #menuR{
        display: block;
        position: fixed;
        right: 10px;
    } 
      .s4{
          display: none;
        }
      .nav-item{
          margin-right: 25px
        }
      .right-nav{
          margin-left: 20px;
        }
      .block{
          width: 80%;
          margin-left: 10%;
          margin-top: 4%;
          height: 56px;
          border-radius: 10px;
        }
    }
@media only screen and (max-width: 1260px) {
     .s3{
         display: none;
        }
     .right-nav{
         margin-left: 20px;
        }
     .brand-icon{
         margin-left: 20px;
        }
     .block{
         width: 80%;
         margin-left: 10%;
         margin-top: 4%;
         height: 52px;
         border-radius: 10px;
        }
    }
@media only screen and (max-width: 1160px) {
    .s5{
        display: none;
    }
    .nav-bar {
        height: 50px;
    }
    .content{
        top:70px;
    }
    .right-nav{
        margin-left: 50px;
    }
    .brand-icon{
        height: 50px;
        margin-left: 30px;
    }
    .nav-item{
        height: 46px;
        text-align: center;
        margin-right: 15px;
    }
    .nav-link{
        display: block;
    }
    
    .block{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 50px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 980px) {
    .right-nav{
        display: none;
    }
   
    .left-nav{
        margin-left: 40%;
    }
    .brand-name{
        display: block;
        margin-left: 10%;
    }
    .block{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 45px;
        border-radius: 7px;
    }
}
@media only screen and (max-width: 800px) {
    .left-nav{
        margin-left: 40%;
    }
    .block{
        width: 80%;
        margin-left: 10%;
        margin-top: 4%;
        height: 40px;
        border-radius: 6px;
    }
    .problem-card{
        width: 40%;
    }
    #difficulty,#selectTag{
       text-align: center;
        border-radius:100px;
        padding: 6px;
        font-weight: 400;
        font-size: 14px; 
        
    }
    #apply{
        margin-top: 4%;
        margin-bottom: 2%;
    }
    #difficulty::placeholder{
        font-size: 14px; 
        
    }
    #apply{
        font-size: 14px;
        padding: 6px 20px;
    }
}

@media only screen and (max-width: 700px) {
    .left-bar{
        display: none;
    }
    .content-area{
        width: 100%;
    }
     #menuL{
         display: block;
         position: fixed;
         left: 10px;
        }
        .problem-bar{display: none;}
    }
    @media only screen and (max-width: 500px) {
        .problem-card{
            width: 90%;
        }
       
       
    }
.right{
    right: 0;
}
.left{
    left: 0;
}
.right-btn{
    right: 25px;
    margin-left: 50px;
}
.left-btn{
    left:25px;
    margin-right: 50px;
}
.sidenav{
    background-color: #070d1b;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
}
.sidenav div{

    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
 
  display: block;
  transition: 0.3s;
}
.sb-active{
    background-color: #edab30;
    color: #070d1b;
    cursor: pointer;
}
.sidenav div:hover{

     cursor: pointer;
  }
  .sidenav .closebtn {

    position: absolute;
    top: 0;
   
    font-size: 36px;
   
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #070d1b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

