html{

     background-color: #070d1b;
    /* background-image: linear-gradient(180deg, #070d1b 0%, #22224e 50%); */  
    overflow:hidden;
    background-size: cover;
    background-repeat: no-repeat;
    color: #587895;
}
body{
    background-color: #070d1b;
    background-image: linear-gradient(180deg, #070d1b 0%, #22224e 50%); 
}
.ptr{
    cursor: pointer;}
.nv-font{

    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
.nav-bar {

    min-width: 375px;
     z-index: 100;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     height: 70px;
     color: #6a758b;
   
}
.left-nav {

    display: flex;
    float: left;
}
.vc{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right-nav{

    display: flex;
    float: left;
    text-transform: uppercase;
    margin-left: 150px;
    transition: 0.3s;
}
#brand-logo {
    color: #ffd586bf;
    font-size: 40px;
    text-shadow: -2px 2px 3px rgba(237,171,48,0.52);
}

.brand-icon{

    height: 70px;
    margin-left: 70px;
}

.nav-item{
    height: 66px;
    text-align: center;
    margin-right: 50px;
}
.logout{

   width: 100px;
   border-radius: 20px;
   padding: 7px;
   /* box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44);
   -webkit-box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44);
   -moz-box-shadow: -5px 5px 11px 6px rgba(237,171,48,0.44); */
   
   background-color: #edab30;
}
   
.logout:hover{
    box-shadow: -2px 2px 8px 3px rgba(237,171,48,0.44);
    -webkit-box-shadow: -2px 2px 8px 3px rgba(237,171,48,0.44);
    -moz-box-shadow: -2px 2px 8px 3px rgba(237,171,48,0.44);
    transform: translate(-5px,5px);
    transition: transform 0.3s ease-in-out;
    background-image: none;
}
.nav-link{
    display: block;
}
.nav-link:hover{
   color: #ffd586bf;
}
.nav-active{
    color: #ffd586bf;
   
}
.small,.small2{

    display: none;
    position: absolute;
} 
.menu{
    font-size: 35px;
    color: #d1d5e2;
   
}
.s6{

    display: none;
}
.block{

    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    height: 70px;
    border-radius: 10px;
}
.block:hover{

   
     cursor: pointer;
     background-image: none;
    }
.b-active{

 

}
.b1{

    margin-top: 20%;
}
.bg-p{

  
}
.bg-s{

    
}
.bg-f{

    
    }
.bg-br1{

    
    }
.bg-gr1{

}
.bg-gr{

}
.content{
    display: flex;
    margin-bottom:1px;
    scroll-behavior: smooth;
    height: 90vh;
    flex-direction: row;
    position: fixed;
    top: 9vh;left: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 375px;
}
.left-bar{
    width: 20%;
    min-height: 89vh;
    max-height: 89vh;
    overflow-y: scroll;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;font-size: 20px;
 }
.left-bar::-webkit-scrollbar-track{

}
.left-bar::-webkit-scrollbar-track:hover{

}
.left-bar::-webkit-scrollbar{
    display: none;}
.left-bar::-webkit-scrollbar-thumb{

}
.left-bar::-webkit-scrollbar-thumb:hover{
    cursor: pointer;}
.left-bar::-webkit-scrollbar-button{
    display: none;}
.content-area::-webkit-scrollbar-button{
    display: none;}
.header{
    width: 98%;
    margin-left: 1%;
    height: 100px;}

.search{
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
.main-content{
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 10px;
    margin-top: 10px;
}
.footer{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}
.content-area{
    width: 100%;text-align: center;
     overflow-y: scroll;
     border-radius: 10px;
     scroll-behavior: smooth;
    }

.cf-bar{
    display: block;
    width: 50%;
   
    margin: 1% auto;
    border-radius: 7px;
    padding: 3% 2% 3% 2%;
}
#user-handle{
    font-size: 20px;
    border: 3px solid #edab30;
    width: 50%;
    background: none;
    color:#edab30bb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 20px 10px 20px;
    outline: none;
    transition: transform 0.4s ease-in-out;
}
#user-handle:focus{
   
    transform: translate(-1px,1px);
}
#myCf{
    transition: transform 0.4s ease-in-out;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #edab30; padding-bottom: 2px;color:#edab30bb;background:none;border-radius: 0; 
    padding: 10px 20px 10px 20px;
    outline: none;
    width: 50%;
}
#myCf:focus{
  
    transform: translate(-1px,1px);
}
.cf-bar button{
    padding: 10px 20px 10px 20px;
   border: none;
    margin-left: -4px;
    font-size: 20px;
transition: transform 0.4s ease-in-out;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#compare{
    border-top: 3px solid #edab30;
    border-bottom: 3px solid #edab30;
   background-color: #edab30;
   color: #070d1b;
}
#removeLast{
     color: #edab30;
     background: none;
     border: 3px solid #edab30;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#compare:hover{
    
    border: none;
    font-weight: 700;
    transform: translate(-1px,1px);
    
}
#removeLast:hover{
    border: none;
    background-color: #edab30;
    color: #070d1b;
   
    font-weight: 700;
    transform: translate(-1px,1px);
    
}
.bx-sd{

}
.graph{

    width: 70%;
     margin: 1% auto;
    border-radius: 10px;
    display: block;
 
}
.graph-content{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1310px) {
   .cf-bar{width: 60%;}  
}
@media only screen and (max-width: 1200px) {

    .right-nav{

        margin-left: 50px;
    }
}
@media only screen and (max-width: 1050px) {

    .nav-item{

        margin-right: 20px;
    }
    .brand-icon{

        margin-left: 20px;
    }
    .right-nav{

        margin-left: 20px;
    }
    .cf-bar{width: 70%;}  
    }
@media only screen and (max-width: 950px) {
    .cf-bar{width: 80%;}  

}
@media only screen and (max-width: 820px) {

    .cf-bar{

        width: 90%;
    }
}
@media only screen and (max-width: 750px) {
    .cf-bar{
        margin: 1% auto;
        border-radius: 7px;
        padding: 1% 0.5%;
        font-size: 15px;
    }
    #user-handle{
        border: 2px solid #edab30;
        padding: 5px 10px;
        outline: none;
        font-size: 15px;
    }
    #myCf{     
        border-bottom: 2px solid #edab30;
        padding: 5px 10px;
        font-size: 15px;
    }
    .cf-bar button{
        padding: 5px 10px;
        font-size: 15px;
      }
    #compare{
        border-top: 2px solid #edab30;
        border-bottom: 2px solid #edab30;
    }
    #removeLast{
       
         border: 2px solid #edab30;
       
    }
    #compare:hover{
        font-weight: 600;
        transform: translate(-0.5px,0.5px);  
    }
    #removeLast:hover{
        font-weight: 600;
        transform: translate(-0.5px,0.5px);
        
    }
}
@media only screen and (max-width: 650px) {

    .small{

        display: block;
        right: 0;
    } 
    .right-nav{

        display: none;
    }.graph{

        width: 85%;
    }  }
@media only screen and (max-width: 570px) {
 
    .cf-bar{
        width: 98%;
        margin-top: 0;
        
        padding: 0.5% 0.25%;
        font-size: 12px;
    }
    #user-handle{
        border: 2px solid #edab30;
        padding: 2px 5px;
        outline: none;
        width: 40%;
        font-size: 12px;
    }
    #myCf{     
        border-bottom: 2px solid #edab30;
        padding: 2px 5px;
        width: 40%;
        font-size: 12px;
    }
    .cf-bar button{
        padding: 2px 5px;
        font-size: 12px;
      }
    #compare{
        border-top: 2px solid #edab30;
        border-bottom: 2px solid #edab30;
    }
    #removeLast{
       
         border: 2px solid #edab30;
       
    }
    .graph{
        width: 96%;
        margin: 1% 0;
    }
}
@media only screen and (max-width: 450px) {
    .cf-bar{
    width: 98%;
    margin-top: 0;
}
.graph{
    width: 98%;margin: 1% 0;}::-webkit-scrollbar{
    }}
@media only screen and (max-width: 400px) {

.cf-bar{
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
    box-shadow: none;
    margin:10px auto;
    }
.cf-bar input[type="text"]{
    font-size: 15px;width: 50%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 3px 6px 3px 6px;
    outline: none;}
.cf-bar button{
    padding: 3px 6px 3px 6px;
    margin-left: -4px;
    font-size: 15px;}
#removeLast{
    border-top-right-radius: 2px;border-bottom-right-radius: 2px;}
}


.maintenance{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    color: #edab30;
    font-size: 30px;
    font-family: 'Martel Sans', sans-serif;
}
#unsolved table{

   border-collapse: separate !important;
    width: 100%;
   border-radius: 7px;
    margin: 0 auto;
    font-size: 16px;
    border-spacing: 0;
   
    padding-bottom: 2%;
}
table th:first-child{
   
    border-top-left-radius: 7px;
    padding-left: 5%;
}

table th:last-child{
   
    border-top-right-radius: 7px;
    text-align: left;
}
th{
    height: 50px;
    background-color: #edab30bb;
    color:#070d1b;
}
#unsolved table tr{


}
#unsolved table td{
    padding: 8px 10px;
  
}
.pname{
    text-align: left;
}
.psolve{
    border:3px solid #edab30; 
    border-radius:100px;
    padding: 8px 40px;
    font-weight: 400;
    font-size: 16px; 
    color: #edab30;
    background: none;
    font-weight: 800;
    transition: 0.3s;
}
.psolve:hover{
    background-color: #edab30;
    color:#070d1b;
    font-weight: 800;
}
.separator{

    height: 5px;
}

.right{

    right: 0;
}
.left{

    left: 0;
}
.right-btn{

    right: 25px;
    margin-left: 50px;
}
.left-btn{

    left:25px;
    margin-right: 50px;
}
.sidenav{
    background-color: #070d1b;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.75);
}
.sidenav div{

    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
 
  display: block;
  transition: 0.3s;
}
.sb-active{
    background-color: #edab30;
    color: #070d1b;
    cursor: pointer;
}
.sidenav div:hover{

     cursor: pointer;
  }
  .sidenav .closebtn {

    position: absolute;
    top: 0;
   
    font-size: 36px;
   
  }
 