body{background-color: #EBF1FF;overflow:hidden ;}
.ptr{cursor: pointer;}
.nv-font{
    /* font-family: 'Martel Sans', sans-serif; */
font-family: 'Quicksand', sans-serif;}
.nav-bar {  background-color: white;min-width: 375px; z-index: 100;position: fixed;top: 0;left: 0;right: 0;color:black;height: 70px;box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);-webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.75);}
.left-nav {display: flex;float: left;}
.vc{display: flex;align-items: center;justify-content: center;flex-direction: column;}
.right-nav{display: flex;float: left;text-transform: uppercase;margin-left: 150px;transition: 0.3s;}
#brand-logo {text-shadow: 6px 6px 8px rgba(5, 94, 246, 0.87),6px 3px 9px rgba(255, 255, 255, 0.87);font-size: 40px;}
.brand-name{display: none;}
.brand-name nav-item{display: none;}
.brand-icon{height: 70px;margin-left: 70px;}
.more-modal{position: absolute;display: block;background-color: blueviolet;width: max-content;}
.more-modal div{}
.more-modal ul{list-style: none;padding: 0;display: none;}
.nav-item{height: 66px;text-align: center;margin-right: 50px;}
.logout{
    background-color: #055EF6;
    background-image: linear-gradient(to top, #055ef6, #206df8, #357bf9, #4988f9, #5c95f8);
    width: 100px;border-radius: 20px;color:white;padding: 7px;
    box-shadow: -8px 14px 22px 3px rgba(5,94,246,0.3);
    -webkit-box-shadow: -8px 14px 22px 3px rgba(5,94,246,0.3);
    -moz-box-shadow: -8px 14px 22px 3px rgba(5,94,246,0.3);}
.logout:hover{transform: translate(-5px,5px);transition: transform 0.3s ease-in-out;background-image: none;box-shadow: inset -1px 1px 13px 1px rgba(255, 255, 255, 0.84),-2px 6px 12px 3px rgba(5, 94, 246, 0.72);;
    -webkit-box-shadow:inset -1px 1px 13px 1px rgba(255, 255, 255, 0.84),-2px 6px 12px 3px rgba(5, 94, 246, 0.72);
    -moz-box-shadow:inset -1px 1px 13px 1px rgba(255, 255, 255, 0.84),-2px 6px 12px 3px rgba(5, 94, 246, 0.72);text-shadow: 4px 4px 10px rgba(255,255,255,0.6);font-weight: 900;}
.nav-link{display: block;}
.nav-active{border-bottom: 4px solid #055eF6;}
.small,.small2{display: none;position: absolute;} 
.menu{font-size: 20px;}
.s6{display: none;}
.block{width: 80%;margin-left: 10%;margin-top: 4%;height: 70px;border-radius: 10px;}
.block:hover{background-color: gray; cursor: pointer;background-image: none;}
.b-active{background-color: #055EF6;color: white;}
.b1{margin-top: 20%;}
.bg-p{background-color: #055EF6;}
.bg-s{background-color: white;}
.bg-f{background-color: #EBF1FF;}
.bg-br1{background-color: #058af6;
    background-image: linear-gradient(154deg, #058af6 9%, #05b4f6 50%);
    }
.bg-gr1{background-color: #058af6;}
.bg-gr{background-color: #055EF6; background-image:linear-gradient(160deg, #055ef6 0%, #0093e9 100%);}
.content{display: flex;margin-bottom:1px;height: 90vh;flex-direction: row;position: fixed;top: 9vh;left: 0;right: 0;overflow-y: hidden;overflow-x: hidden;min-width: 375px;}
.left-bar{width: 20%;min-height: 89vh;max-height: 89vh;overflow-y: scroll;text-align: center;background-color: #EBF1FF;font-family: 'Martel Sans', sans-serif;font-size: 20px; }
.left-bar::-webkit-scrollbar-track{background: rgb(209, 203, 203);}
.left-bar::-webkit-scrollbar-track:hover{background-color: rgb(202, 194, 194);}
.left-bar::-webkit-scrollbar{display: none;}
.left-bar::-webkit-scrollbar-thumb{background-color: blue;}
.left-bar::-webkit-scrollbar-thumb:hover{cursor: pointer;}
.left-bar::-webkit-scrollbar-button{display: none;}
.content-area::-webkit-scrollbar-button{display: none;}
.header{width: 98%;margin-left: 1%;height: 100px;}
.search{border-radius: 10px;width: 100%;height: 100px;box-shadow: 0px 0px 10px 0.2px rgba(0, 0, 0, 0.1);margin-top: 5px;}
.main-content{width: 98%;margin-left: 1%;margin-top: 1%;border-radius: 10px;box-shadow: 0px 0px 10px 0.2px rgba(0, 0, 0, 0.1);margin-top: 10px;}
.footer{height: 200px;width: 100%;background-color:white;margin-bottom: 10px;}
.content-area{width: 80%; overflow-y: scroll;border-radius: 10px;}
.content-area{width: 100%;text-align: center;}
.cf-bar{display: block;width: 50%;margin: 1% auto;border-radius: 7px;box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.2);padding: 3% 2% 3% 2%;}
.cf-bar input[type="text"]{font-size: 20px;border: none;width: 50%;border-top-left-radius: 5px;border-bottom-left-radius: 5px;padding: 10px 20px 10px 20px;outline: none;}
.cf-bar button{padding: 10px 20px 10px 20px;border: none;background-color: white;margin-left: -4px;font-size: 20px;
transition: transform 0.4s ease-in-out;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#compare{background-color: green;background-image: linear-gradient(to top, #2f9004, #32a70e, #33c019, #30d925, #28f231);}
#removeLast{background-color: red;background-image: linear-gradient(to top, #ee0c20, #f43e41, #f75c5e, #f7777a, #f48f94);border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#compare:hover{  color: white;border: none;font-weight: 700;transform: translate(-1px,1px);opacity: 0.9;}
#removeLast:hover{border: none;font-weight: 700;transform: translate(-1px,1px);opacity: 0.9;color: white;}
.bx-sd{box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.3);-webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.3);-moz-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.3);}
.graph{width: 70%; margin: 1% auto;background-color: #058af6;
    background-image: linear-gradient(163deg, #058af6 9%, #05b4f6 87%);
    border-radius: 10px;display: block;
 
}
.graph-content{display: flex;flex-direction: column;}
@media only screen and (max-width: 1300px) {  
    .cf-bar input[type="text"]{font-size: 15px;padding: 7px 15px 7px 15px;}
    .cf-bar button{padding: 7px 15px 7px 15px;background-color: white;font-size: 15px;}
    #compare:hover,#removeLast:hover{font-weight: 600;} 
}
@media only screen and (max-width: 1200px) {.right-nav{margin-left: 50px;}}
@media only screen and (max-width: 1050px) {.nav-item{margin-right: 20px;}.brand-icon{margin-left: 20px;}.right-nav{margin-left: 20px;}}
@media only screen and (max-width: 950px) {
    .cf-bar{ padding: 3% 2% 3% 2%;}
    .cf-bar input[type="text"]{font-size: 14px;padding: 5px 10px 5px 10px;}
    .cf-bar button{padding: 5px 10px 5px 10px; border: none;margin-left: -4px;font-size: 14px;}
     #compare:hover,#removeLast:hover{ font-weight: 500;}
    #removeLast:hover{font-weight: 500;}
}
@media only screen and (max-width: 800px) {.cf-bar{width: 80%;}}
@media only screen and (max-width: 650px) {.small{display: block;right: 0;} .right-nav{display: none;}.graph{width: 85%;}  }
@media only screen and (max-width: 500px) {.cf-bar{width: 96%;margin-top: 0;}.graph{width: 96%;margin: 1% 0;}}
@media only screen and (max-width: 450px) {.cf-bar{width: 98%;margin-top: 0;}.graph{width: 98%;margin: 1% 0;}::-webkit-scrollbar{display: none;}}
@media only screen and (max-width: 400px) {
.cf-bar{padding: 2px 2px 2px 2px;border-radius: 2px;box-shadow: none;margin:10px auto;}
.cf-bar input[type="text"]{font-size: 15px;width: 50%;border-top-left-radius: 2px;border-bottom-left-radius: 2px;padding: 3px 6px 3px 6px;outline: none;}
.cf-bar button{padding: 3px 6px 3px 6px;background-color: white;margin-left: -4px;font-size: 15px;}
#removeLast{border-top-right-radius: 2px;border-bottom-right-radius: 2px;}
}
#underMaintenance{display: none;}
#underMaintenance{color: white;}
.maintenance{background-color: #055EF6;width: 60%;margin: 0 auto;padding: 20px;border-radius: 10px;}
#unsolved table{
   border-collapse: separate !important;
    width: 100%;
   border-radius: 7px;
    margin: 0 auto;
    font-size: 16px;
    border-spacing: 0;
    background-color: #05b4f6 ;
    padding-bottom: 2%;
}
table th:first-child{border-top-left-radius: 7px;padding-left: 5%;}

table th:last-child{border-top-right-radius: 7px;text-align: left;}
th{background-color: #055EF6;color:white;height: 50px;}
#unsolved table tr{

}
#unsolved table td{
 
    padding: 8px 10px;
   
}
.pname{text-align: left;}
.psolve{color: white;border:none;border-radius:7px;
    background-color: #055EF6;padding: 8px 40px;font-weight: 400;font-size: 16px; }
.separator{height: 5px;}

.right{right: 0;}
.left{left: 0;}
.right-btn{right: 25px;margin-left: 50px;}
.left-btn{left:25px;margin-right: 50px;}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
   
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav div{
    padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sb-active{ background-color: #055EF6;
    color: white;
    cursor: pointer;}
.sidenav div:hover{
    background-color: #055EF6;
    color: white;
    cursor: pointer;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
   
    font-size: 36px;
   
  }
  #myCf::placeholder { color: white;  opacity: 1;}
#myCf::-ms-input-placeholder {  color:white;}
#myCf::-ms-input-placeholder {   color: white;}
.content-area{display: none;}